<div class="row">
  <h3>Dashboard Projects Management</h3>
</div>

<div class="row well" style="margin-bottom: 10px">
  <span class="h5 ">Select dashboard</span> <select
    ng-model="dash_selected.name" ng-change="update_dash()">
    <option value="{{key}}" ng-repeat="(key, dash) in dashes">{{dash.name}}</option>
  </select>
</div>

<div class="row">
  <div class="col-md-4" data-ng-show="dash_selected.name != ''">
    Project name <input ng-model="dash_selected['project_new']" size="15">
    <button ng-click="create_project(dash_selected.name)">Add</button>
  </div>
  <div class="col-md-8" data-ng-show="dash_selected.name != ''">
    Github project name <input ng-model="dash_selected['source_url']" size="20">
    <select ng-model="dash_selected['project']">
      <option ng-repeat="(key, project) in projects">{{key}}</option>
    </select>
    <button ng-click="add_repo()">Publish {{org.name}}</button>
  </div>
</div>

<div class="row" style="max-width: 600px; margin-top: 20px">
  <div class="panel panel-default panel-success">
    <div class="panel-heading">
      Projects in the Dashboard
      <button type="button" data-ng-click="update_projects()">
        <span class="fa fa-refresh" aria-hidden="true"></span>
      </button>
      <span style="float: right">Filter <input
        ng-model="filter_text">
      </span>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="(key, project) in projects">{{key}}
          <ul>
            <li ng-repeat="(ds_name, ds_list) in project">{{ds_name}}
              <ul>
                <li ng-repeat="ds_url in ds_list | filter:filter_text ">{{ds_url}}
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>